bottleneck
diffusers
einops
h5netcdf
h5py
hdf5plugin
huggingface-hub
hydra-core
lightning
matplotlib
numpy
pandas
pyarrow
scipy
scikit-image
terratorch
timm
tqdm
tokenizers
torch
torchmetrics
torchvision
vector-quantize-pytorch
wandb
webdataset
xarray
